<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Pages</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h1>Hello from front end</h1>
<h2>{{ data['mobile'] }}</h2>
<h2>Base dir: {{ base_dir }}</h2>
<h4>Page: {{ data['page'] }}</h4>
<code>{{ data['page'] }}</code>
</body>
</html>
